.Container {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100vh;
    padding: 40px;
    background-color: white
}

.ButtonContainer {
    display: flex;
    justify-content: space-between;
    padding: 20px
}

/* Filter */

.UpperContainer {
    display: flex;
    align-items: center
}

.UpperQues {
    margin-right: 20px;
    font-size: 16px;
    background-color: blue
}

.InnerText {
    padding: 10px;
    color: white
}

.UpperRadio {
    display: flex;
}

.RadioText {
    color: #818078
}

/* main */

.MainContainer {
    display: flex;
    flex-direction: row;
}

.TableList {
    margin-top: 20px;
    display: flex;
    flex: 1
}

.InputForm {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.FormButton {
    display: flex;
    margin: 20px;
}

.FormButtonEach {
    padding-right: 10px
}

/* No List */

.NoProducts {
    flex: 1;
    display: flex;
    justify-content: center;
    margin-top: 40px
}

/* pagination */

.Pagination {
    display: flex;
    justify-content: center
}

/* spinner */

.SpinnerContainer {
    display: flex;
    flex: 1;
    margin-top: 30%;
    margin-left: 50%;
}