.Container {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100vh;
    padding: 40px;
    background-color: white
}

.ButtonContainer {
    display: flex;
    justify-content: flex-end;
    padding: 20px
}

.MainContainer {
    display: flex;
    flex-direction: row;
}

.Pagination {
    display: flex;
    justify-content: center
}

.TableList {
    margin-top: 20px;
    display: flex;
    flex: 1
}

.NoProducts {
    flex: 1;
    display: flex;
    justify-content: center;
    margin-top: 40px
}

.InputForm {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.FormButton {
    display: flex;
    margin: 20px;
}

.FormButtonEach {
    padding-right: 10px
}

/* spinner */

.SpinnerContainer {
    display: flex;
    flex: 1;
    margin-top: 30%;
    margin-left: 50%;
}