/* main container */

.Container {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100vh;
    padding: 40px;
    background-color: white
}

/* header */

.HeadingContainer {
    display: flex;
    justify-content: center;
    font-size: 50px;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    padding-bottom: 40px;
    border-bottom: 1px solid #eee
}

/* Container wrapping filter and create button */

.ButtonContainer {
    display: flex;
    justify-content: space-between;
}

/* Filter */

.UpperContainer {
    display: flex;
    align-items: center
}

.Filter {
    margin-right: 20px;
    font-size: 16px;
    color: #7f8c8d;
    font-weight: bold
}

.UpperRadio {
    display: flex;
}

/* Tables */

.MainContainer {
    display: flex;
    flex-direction: row;
}

.TableList {
    margin-top: 20px;
    display: flex;
    flex: 1
}

.InputForm {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.FormButton {
    display: flex;
    margin: 20px;
}

.FormButtonEach {
    padding-right: 10px
}

/* No List */

.NoProducts {
    flex: 1;
    display: flex;
    justify-content: center;
    margin: 100px
}

/* pagination */

.Pagination {
    display: flex;
    justify-content: center
}

/* spinner */

.SpinnerContainer {
    display: flex;
    margin-top: 100px;
    margin-left: 50%;
}