.InputContainer {
    border: 1px solid #ddd;    
    display: flex;
    flex-direction: row;
    margin: 20px;
}

.InputIcon {
    padding: 10px;
    padding-right: 0;
    background: #fff
}

.Input {
    border: none;
    width: 350px;
    flex: 1;
    padding: 10px
}

Input:focus{
    outline: none;
}

.CheckBox {
    width: 200px;
    padding: 10px
}